
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
    padding-bottom: 70px;
} */

.nav-link {
    position: relative;
    background-color: transparent;
    line-height: 1.9em;
    font-size: 26px;
    width: 120px;
    text-align: center;
    color: #fff;
    z-index: 999;
    opacity: 1;
    font-family: "Staatliches", sans-serif;
    display: inline-block;
  }

.active-nav {
    display: inline-block;
    position: relative;
    color: #fff;
  }
  
  .active-nav::before {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
  }
  
  .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* Spin wheel */

  .wheel-container {
    display: flex;
    justify-content: center;
    /* transform: translateX(10%); */
    
    margin-top: 25px;
  }
  
  .wheel-text {
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-family: "Staatliches", sans-serif;
  }

  
  @media (max-width: 767px) {
    .wheel-container canvas {
      height: 100%;
      width: 150%;
      transform: translateX(3%);
      color: #fff;
    }
  
    .wheel-text {
      color: #fff;
      text-align: center;
      font-size: 40px;
      margin-top: 20px;
      font-family: "Staatliches", sans-serif;
    }
  }

  @media (min-width: 120em /* 1920px */ )  {
    .wheel-container {
      margin-left: 20%;
      height: 600px;
    }

   
  }

  @media (min-width: 160em /* 2560px */) {
    .wheel-container {
      margin-left: 14.5%;
    }
  }